:root {
    --dark-grey: #202124;
    --light-grey: #383a3f;
    --extra-light-grey: #ffffffb3;
    --username: #ffffffbf;
    --last-message-color: #ffffffbf;
    --white-grey: #bfbcbc;
    --white: #fff;
    --red: #ff5252;
    --online: #40d11f;
    --container-mesage: #50535a;
    --epr-highlight-color: var(--red) !important;
    --epr-emoji-gap: var(--red) !important;
    --epr-hover-bg-color: var(--red) !important;
    --epr-text-color: var(--red) !important;
    --epr-category-icon-active-color: var(--red) !important;
}

.dropdown-menu {
    --bs-dropdown-bg: transparent !important;
    --bs-dropdown-border-color: transparent !important;
    --bs-dropdown-link-hover-bg: transparent !important;
    color: #ff5252;
}


.btn-secondary {
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: transparent !important;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    background-color: var(--dark-grey);
    font-family: Nunito, sans-serif;
}



h3 {
    margin: 0;
    color: var(--extra-light-grey);
}

.custom-red-icon {
    color: var(--red);
}

.custom-grey-icon {
    color: var(--extra-light-grey);
}


.chat-app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.storie-section-container {
    display: flex;
    max-width: 480px;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}

.chat-section-container {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    width: 10px;
    flex: 1;
    margin-right: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.first-list,
.second-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-list {
    height: 70%;
    justify-content: space-between;
}

.second-list {
    margin-bottom: 20px !important;
}

.iconsec {
    height: 50px;
    display: flex;
    align-items: center;
}

.conversation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-bottom: 20px !important;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0);
    transition: color .3s ease;

}

.conversation {
    min-height: 100px;
    background: var(--light-grey);
    border-radius: 10px;
    margin-bottom: 20px;

}

.storie-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.storie-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
    padding: 0 !important;
}

.storie-avatar {
    margin-bottom: 10px;
}

.storie-user,
.chat-user,
.MuiListItemText-primary,
.MuiListItemText-secondary {
    color: var(--username) !important;
}

.navbar-chat-container {
    display: flex;
    height: 52px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navbar-chat {
    display: flex;
    align-items: center;
}

.chat-status {
    margin-left: 15px;
}

.online {
    color: var(--online);
}

.menu-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.menu-chat-item {
    width: 50px;
    display: flex;
    justify-content: center;
    margin: auto 10px;
}

.brandapp {
    height: 60px;
    display: flex;
    margin-bottom: 35px;
}


/* Scroll bar */

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    height: 50px;
    width: 25px;
    border-radius: 15px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.emoji-menu * {
    color: rgba(0, 0, 0, 0) !important;
    transition: color .3s ease !important;
}

h4 {
    color: var(--red) !important;
}


.conversation-list:hover,
.messages:hover,
.emoji-menu *:hover {
    color: var(--red) !important;
}

.epr-emoji-category-label {
    color: var(--red) !important;
}

.epr-btn {
    color: var(--red) !important;
}


.chat {
    height: 100%;
    background-color: var(--light-grey);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.navbar-messaging {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.send-icon,
.send-options {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;

}

.send-message {
    width: -webkit-fill-available;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color: var(--white-grey) !important;
}


.css-1up7ebe::after:before,
.css-1up7ebe::after:after {
    border-bottom: 2px solid var(--red) !important;
}

.css-1tcs2i1-MuiInputBase-root-MuiInput-root:before,
.css-1tcs2i1-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid var(--red) !important;
}

.list-item-avatar {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.list-item-text {
    width: 70%;
}

.message-time {
    display: flex;
    justify-content: center;
    width: 80px;
}

.messages {
    display: flex;
    flex-direction: column;
    max-height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0);
    transition: color .3s ease;
}

.shadow-divider {
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
    height: 10px;
    width: 100%;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.msg-from {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.msg-to {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.text-msg {
    max-width: 40%;
    word-wrap: break-word;
    color: var(--username);
    border-radius: 10px;
    padding: 20px;
    background-color: #50535a;
}

.me {
    background-color: #a64a4a;
}

.photo-msg {
    height: 260px;
    width: 260px;
}

.send-photo {
    width: 100%;
}

.epr-search {
    border-color: var(--red) !important;
}

.dropup .dropdown-toggle::after {
    content: none !important;
}